<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>My name is Gwenn GARRIGUES-JOURNAUD. Currently in my first year of a Master's degree in Data Science in Lille, following a Bachelor's degree
        in Computer Science, I have acquired numerous theoretical skills
        related to the world of computer science and data science during my years of training.
        </p>
      </div>
      <div class="col-lg-4">
        <p>This page provides a preview of the various projects I have completed as part of my studies/internships in the university of la Rochelle, Lille and Helsinki. These range from simple university projects such as creating compilers or classic viruses to
          setting up pipelines in collaboration with researchers from mathematics/computer science laboratories and research work on the analysis of handwritten characters.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/GwennGrs" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> My GitHub
        </a>
      </div>
    </div>
  </div>
</section>
